@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

body {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    background-color: #f2f2f2;
    margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
    width: 1200px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.header {
    min-height: 64px;
    position: relative;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    min-height: 64px;
    margin-left: 239px;
    margin-right: 70px;
}

.sedona-link {
    position: absolute;
    top: 0;
    left: 70px;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    width: 465px;
    margin: 0;
    padding: 0;
}

.nav-menu-link {
    display: block;

    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;

    text-decoration: none;
    padding: 20px 16px;
}

.nav-menu-link:hover {
    background-color: rgb(242, 242, 242);
}

.nav-menu-link-current {
    text-decoration: underline;
    text-underline-offset: 24px;
    text-decoration-color: rgba(117, 98, 87, 1);
}

.user-menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    padding: 14px 0;
    margin: 0;
    width: 400px;
    gap: 9px;
}

.user-menu-link {
    display: flex;
    justify-items: flex-start;
    background-position: center;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.link-search {
    background-image: url("../images/icons/search.svg");
}

.link-fav {
    background-image: url("../images/icons/heart.svg");
    position: relative;
}

.fav-count {
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    color: #ffffff;
    background-color: #7db54f;

    display: block;
    box-sizing: border-box;
    position: absolute;
    right: 2px;
    top: -3px;
    min-width: 20px;
    height: 20px;
    padding: 5px 3px 0;
    border-radius: 10px;
}

.button-want-here {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(117, 97, 87, 1);

    margin-left: 14px;
    padding: 8px 34px;
    min-width: 160px;
    height: 36px;
    border-radius: 4px;
}

.hero {
    background-color: #3b4e58;
    background-image: url("../images/divider.svg") ,url("../images/hero-sedona-1.jpg");
    background-size: 1200px auto, cover;
    background-repeat: no-repeat;
    background-position: left bottom, center top;
    padding-top: 51px;
    padding-bottom: 82px;
    min-height: 352px;
    margin-bottom: 0;
}

.hero-banner {
    display: block;
    margin: 0 auto;
}

.description-slogan {
    padding-top: 69px;
    text-align: center;
    margin: 0;
}

.intro-header {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color:#000000;
    max-width: 620px;
    margin: 0 auto 25px;
}

.intro {
    max-width: 651px;
    max-height: 145px;
    padding-top: 70px;
    padding-left: 275px;
    padding-bottom: 67px;
}

.intro-header-text {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    max-width: 651px;
    margin: 0 auto;
    margin-bottom: 90px;
}





.description-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.description-item {
    margin: 0;
}
.description-box {
    color: #ffffff;
    min-height: 385px;
    width: 400px;
    margin: 0;
}

.description-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    width: 172px;
    margin: 0 auto 62px;
    position: relative;
    text-align: center;
}

.description-title::before {
    content: "";
    position: absolute;
    top: 86px;
    width: 60px;
    height: 2px;
    left: 56px;
    background-color: rgba(255, 255, 255, 0.3);
}

.description-box .description-title::before {
    content: "";
    position: absolute;
    top: 86px;
    width: 60px;
    height: 2px;
    left: 56px;
    background-color: rgba(0, 0, 0, 0.3);
}

.description-text {
    text-align: center;
    max-width: 225px;
    margin: 0 auto;
    /* color: rgba(51, 51, 51, 1); */
}

.description-image {
    display: block;
}



.description-list .description-item:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.12);
}

.description-list .description-item:first-child {
    background-color: rgba(130, 179, 211, 1);
}

.description-list .description-item:nth-child(even) {
    background-color: rgba(131, 179, 211, 0.2);
}

.description-list .description-item:last-child {
    background-color: rgba(130, 179, 211, 1);
}

/* .description-item-image-no .description-text {
    color: #333333;
    margin: 0;
}

.description-item-image .description-title {
    text-align: center;
    color: #ffffff;
    margin-bottom: 62px;
}

.description-item-image-no .description-title {
    text-align: center;
    color: #333333;
    margin-top: 10px;
    margin-bottom: 62px;
    overflow: hidden;
} */

/* .description-item-image .description-text::before {
    position: absolute;
    top: -60px;
    right: 85px;
    left: 85px;
    height: 2px;
    content: "";
} */

/* .description-item-image .description-title::before {
    background-color: rgba(255, 255, 255, 0.302);
} */

/* .description-item-image-no .description-text::before {
    background-color: rgba(0, 0, 0, 0.3);
} */

.description-item-image-no:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.2);
}

.description-item-image-no:nth-child(even) {
    background-color: rgba(131, 179, 211, 0.12);
}








.services {
    text-align: center;
}

.services-header {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;

    width: 500px;
    margin: 64px auto 20px;
}

.services-header-text {
    font-size: 22px;
    line-height: 26px;
    color: #333333;

    margin: 0;
    padding-bottom: 64px;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.services-item {
    box-sizing: border-box;
    background: rgba(131, 179, 211, 0.12);

    padding: 186px 81px 82px;
    width: 400px;
    min-height: 385px;
}

.services-item:nth-child(2n) {
    background-color: #ffffff;
}

.icon-house {
    background-image: url("../images/icons/icon-house.svg");
    background-position: 163px 81px;
    background-repeat: no-repeat;
}

.icon-burger {
    background-image: url("../images/icons/burger.svg");
    background-position: center 82px;
    background-repeat: no-repeat;
}

.icon-souvenir {
    background-image: url("../images/icons/icon-souvenir.svg");
    background-position: center 79px;
    background-repeat: no-repeat;
}

.services-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    margin: -4px 0 30px;
}

.services-text {
    width: 230px;
    margin: 0;
    padding: 0 0 0 7px;
    text-align: center;
    color: #333333;
}

.search {
    text-align: center;
    min-height: 406px;
}

.search-header {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding-top: 96px;
    margin: 0;
}

.search-text {
    font-size: 22px;
    line-height: 26px;
    padding-top: 20px;
    margin: 0 auto;

    color:#333333;
}

.button-search {
    display: inline-block;
    width: fit-content;
    text-align: center;

    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    padding: 8px 50px;
    border-radius: 4px;
    margin-top: 54px;

    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #756157;
}

.subscribe {
    background-image: url("../images/bg-blur.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 414px;
    margin: 0;
}

.subscribe.hotels {
    background-color:#ffffff;
    background-image: none;
}

.subscribe-header {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 94px;
    margin: 0;
}

.subscribe-header.hotels {
    color: #000000;
}

.subscribe-text {
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    padding-top: 23px;
    margin: 0 auto;
    max-width: 470px;
}

.subscribe-text.hotels {
    color: #333333;
}

.form {
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    opacity: 1;
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 13px;
    padding-left: 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #ffffff;
    color: #000000;
    border: 0;
    width: 453px;
}

.form.hotels {
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    opacity: 1;
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 13px;
    padding-left: 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #f2f2f2;
    color: #000000;
    border: 0;
    width: 453px;
}

.flex-form {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.subscription-button {
    font-family: inherit;
    font-weight: 700;

    opacity: 1;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    outline: none;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #82b3d3;
    padding: 0 49px;
}

.subscription-button:hover {
    cursor: pointer;
}

.all-contacts {
    display: flex;
    justify-content: space-between;
    min-height: 120px;
    align-items: center;
    padding-top: 12px;
}

.contacts-social-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 82px;
    max-width: 240px;
    gap: 23px;
}

.contacts-item {
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.vk-item {
    background-image: url("../images/icons/social-vk.svg");
}

.tg-item {
    background-image: url("../images/icons/social-tg.svg");
}

.yt-item {
    background-image: url("../images/icons/social-yt.svg");
}

.phone {
    text-align: center;
    margin: 0;
}

.phone-address-number {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #000000;

    display: block;
    width: 335px;
    margin-left: 13px;
}

.htmlacademy-logo-image {
    text-decoration: none;
    margin-right: 70px;
}

.filter-container {
    min-height: 412px;
    background-image: url("../images/blur-filter-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 71px;
}

.catalogue-header {
    padding-top: 35px;
}

.catalogue-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color:#ffffff;

    margin: 0;
}

.current-page-link {
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    width: 13px;
    height: 20px;
}

.to-main {
    background-image: url("../images/icons/to-index.svg");
}

.current-page {
    display: flex;
    list-style: none;
    justify-content: flex-start;

    gap: 10px;
    padding: 0;
    margin: 0;

    width: 114px;
    height: 29px;
}

.current-page-item {}

.current-page-link {
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}

.arrow-right {
    width: 10px;
    height: 10px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    transform: rotate(45deg);
}

.catalogue-filter {
    display: flex;
    justify-content: flex-start;
}

.catalogue-filter-group {
    border: none;
    margin: 0;
    padding: 0;
}

.catalogue-filter-title {
    list-style: none;
    color: #ffffff;

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding: 0;
}

.catalogue-filter-list {
    list-style: none;
    padding: 0;
    color: #ffffff;
}

.catalogue-filter-item {
    margin-bottom: 16px;
}

.control-input {
    margin: 0;
    padding: 0;
    margin-right: 8px;
}

.filter-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 104px;
}

.filters-results-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.catalogue-hotels-filters-amount {
    margin: 0;
}

.sort-price-visual {
    display: flex;
    width: 522px;
    justify-content: space-between;
    align-items: center;
}

.buttons-sorter {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.button-visual-sort {
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    width: 48px;
    height: 48px;
}

.sort-cards {
    background-image: url("../images/icons/sort-cards.svg");
}

.sort-big {
    background-image: url("../images/icons/sort-big.svg");
}

.sort-list {
    background-image: url("../images/icons/sort-list.svg");
}

.price-sort {
    border-radius: 4px;
    border-width: 1px;

    font-family: "PT Sans", Arial, sans-serif;
    color: rgba(51, 51, 51, 1);

    width: 292px;
    height: 49px;
    padding-left: 11px;

    border-color: rgba(229, 229, 229, 1);
}

.catalogue-hotels-list-results { /** список отелей <ul> **/
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.catalogue-hotels-list { /** секция выдачи отелей **/
    list-style: none;
    margin: 0;
    padding: 0 70px;
}

.hotel-card-item { /** карточка отеля <li> **/
    display: block;
    /* box-sizing: border-box; */
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 4px;
    padding: 18px;
    width: 340px;
    min-height: 438px;
    margin: 0;
}

.hotel-card-image-link {
    text-decoration: none;
    color: #000000;

    margin: 0 auto;
}

.hotel-card-image {
    display: block;
}

.hotel-card-title {
    margin: 0;
    padding-top: 16px;
}

.hotel-type-from {
    display: flex;
    justify-content: space-between;

    color: rgba(51, 51, 51, 1);

    padding-top: 16px;
}

.card-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 16px;
    gap: 10px;
}

.hotel-card-button {
    display: inline-block;
    text-decoration: none;

    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(117, 97, 87, 1);
    border-radius: 4px;

    min-width: 140px;
    margin: 0;
    padding: 8px 27px 8px 26px;
}

.to-fav {
    font-family: "PT Sans", Arial, sans-serif;
    background-color: rgba(130, 179, 211, 1);
    border-style: none;

    padding: 8px 20px;
}

.at-fav {
    font-family: "PT Sans", Arial, sans-serif;
    background-color: rgba(125, 181, 79, 1);
    border-style: none;

    padding: 8px 20px;
}

.rating {
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    background-color: rgba(242, 242, 242, 1);
    border-style: none;
    margin: 0;
    padding: 8px 20px 8px 20px;
}


.hotel-stars-rating {
    width: 140px;
    height: 37px;
}

.stars-rating-list {
    list-style: none;
    padding: 0;
    padding-top: 9px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 6px;
}

.stars-rating-item {
    background-position: center;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}

.star-icon {
    background-image: url("../images/icons/icon-star.svg");
}

.pagination {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 40px;

    position: relative;
}

.pagination-link {
    display: block;
    text-decoration: none;
    background-color: rgba(130, 179, 211, 1);
    color: #ffffff;


    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    border-radius: 4px;

    padding-top: 14px;
    width: 60px;
    height: 60px;
}

.current-link {
    background-color: rgba(242, 242, 242, 1);
    color: #000000;
}

.no-link {
    background-color: transparent;
    color: #000000;
}

.pagination::before {
    content: "";
    position: absolute;
    top: 20px;
    width: 800px;
    height: 1px;
    background-color: rgba(230, 230, 230, 1);
}
