@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}

body {
    margin: 0;
    background-color: #f2f2f2;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
}

/* header {} */

/* .logo-link {} */

/* .logo-link {} */

/* .nav {} */

.nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* .nav-menu-item {} */

.nav-menu-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
}

.nav-user {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* .nav-user-item {} */

.nav-user-link {

    text-decoration: none;
}

.fav-count {
    width: 11;
    opacity: 1;
    top: 16px;
    left: 24px;
    height: 10;
    color: #f2f2f2;

    background-color: #7db54f;
    border-radius: 10px;
}

.button-want-here {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #f2f2f2;
    text-decoration: none;
    background-color: #756157;

    min-width: 160;
    min-height: 36;
    opacity: 1;
    border-radius: 4px;
    padding-top: 8px;
    padding-right: 50px;
    padding-bottom: 8px;
    padding-left: 50px;
}

/* .hero-image {} */

/* .hero-banner {} */

/* .hero-image-divider {} */

.intro-header {         /* Седона — небольшой городок... */
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color:#000000;
}

.intro-header-text {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

.description-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.description-item {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.description-item-white {
    background-color: #82b3d3;
    color:#ffffff;
}

/* .description-title {} */

.description-text {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: none;
    color: #333333;
}

.description-text-white {
    color: #ffffff;
}

.service-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.service-title {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
}

.service-text {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
}

.search-header {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.search-text {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color:#333333
}

.button-search-hotel {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    background-color: #756157;
    
    min-width: 376;
    min-height: 52;
    border-radius: 4px;
    padding: 8px 50px;
}

.subscribe-header {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.subscribe-text {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
}

.form {
    min-width: 452;
    min-height: 52;
    opacity: 1;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #ffffff;
    color: #000000;
}

.subscription-button {
    min-width: 232;
    min-height: 52;
    opacity: 1;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #82b3d3;
}

.phone-address-number {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-style: normal;
}